<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="theme-color" content="#4dacf6" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#3ba6de"/>
    <title>今日子-注册</title>
    <link rel="stylesheet" href="assets/style.css">
    <script src="assets/vue.js"></script>
    <script src="assets/vue-resource.min.js"></script>
</head>
<body>
<div class="main_wrapper" id="reg_page">
    <div class="site_title">
        <p>今日子</p>
    </div>
    <div class="site_description">
        掟上今日子の備忘録
    </div>
    <form action="/login" class="login" autocomplete="off">
        <div class="form-control">
            <input type="text" name="username" placeholder="用户名" autocomplete="off" v-model="username" required>
        </div>
        <div class="form-control">
            <input type="password" name="password" placeholder="密码" v-model="password" autocomplete="off" required>
        </div>
        <div class="form-control">
            <input type="password" name="password" placeholder="确认密码" v-model="r_password" autocomplete="off" required>
        </div>
        <div class="err_msg form-control"><span>{{ err_msg }}</span></div>
        <div class="form-control">
            <button type="button" class="blue-btn" v-on:click="register">注 册</button>
        </div>
    </form>
    <div class="login_foot">
        <span>已经有账号啦?</span>
        <a href="login.html">去登录</a>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#reg_page',
        data: {
            no_error: false,
            err_msg: "",
            username: "",
            password: "",
            r_password: ""
        },
        methods: {
            register: function () {
                this.no_error = true;
                var api_url = "/register";
                var post_data = {
                    'username' : this.username,
                    'password' : this.password,
                    'r_password' : this.r_password
                }
                if(post_data.password.length < 8) {
                    this.no_error = false;
                    this.err_msg = "密码最短长度为8";
                    return false;
                }
                if(post_data.password != post_data.r_password) {
                    this.no_error = false;
                    this.err_msg = "两次密码输入不一致";
                    return false;
                }
                this.$http.post(api_url, post_data).then(function (response) {
                    var data = response.body;
                    switch(data.code) {
                        case 0:
                            location.href = "login.html";
                            break;
                        case 1:
                            this.err_msg = "无效的用户名";
                            break;
                        case 2:
                            this.err_msg = "无效的密码";
                            break;
                        default:
                            this.err_msg = "网络错误，请稍后重试";
                    }
                    return false;
                }, function (response) {
                    console.log(response);
                    return false;
                });
            }
        }
    });
</script>
</body>
</html>